<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd">
	   
 
<bean id="speaker" class="com.springt.autowire.Speaker">
<property name="type" value="mono"></property>
<property name="volLevels" value="10"></property>

</bean>





</beans>