<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="ginit" default-destroy-method="gdestroy">
  <!--  by defalt when bean is created it will be singleton -->   	
<bean id="default" class="com.springt.basics.DefaultHello">
<!--the data can be supplied to the bean either with setter or constructor -->
<property name="name" value="vamsi"></property>
<property name="city" value="Bangalore"></property>
</bean>


</beans>