<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
<meta charset="UTF-8">
 <link rel="stylesheet" href="../static/css/styles.css"
          th:href="@{/css/styles.css}" />

<title>spring mvc blog</title>
</head>
<body><header th:fragment=“site-header”>

<a href="bg.html" th:href="@{/}">Home</a>
<a href="user/login.html" th:href="@{/user/login}">Login</a>
<a href="user/register.html" th:href="@{/user/register}">Register</a>
<a href="posts/index.html" th:href="@{/posts}">Posts</a>
<a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
<a href="user/index.html" th:href="@{/user}">Users</a>
<div id="logged-in-info"> <span>Hello, <b>(user)</b></span>
<form method="post" th:action="@{/user/logout}">
<input type="submit" value="Logout"/>
</form>
</div>

 <ul id="messages" th:with="notifymsgs=${session[T(com.exilant.blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
      <li th:each="msg : ${notifymsgs}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
           
      </li>
      <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove[
          T(com.exilant.blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}"></span>
      </ul>
</header> 
 
<aside>
<h2>Recent Posts</h2>
<a href=“#” th:each="p : ${latest5posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>
</aside>
<main id="posts">
    <article th:each="p : ${latest3posts}">
      <h2 class="title" th:text="${p.title}">Post Title</h2>
      <div class="date">
        <i>Posted on</i>
        <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
        <!-- <span th:if="${p.author}" th:remove="tag">
          <i>by</i>
          <span th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}">Svetlin Nakov</span>
        </span> -->
      </div>
      <p class="content" th:utext="${p.body}">Post content</p>
    </article>
</main> 

<footer th:fragment="site-footer">
&copy; Spring MVC Blog System, 2016
</footer></body>
</html>